<h3>Add New Phone Number</h3>
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
            <label>
                    Contact Name
                    <input  name="Name" #Name="ngModel"   [(ngModel)]="PhoneBookSelected.Name" placeholder="Contact Name" ng-required="true"> 
                     <div *ngIf="submitted && contactForm.controls.Name.errors" class="error">
                       <div *ngIf="contactForm.controls.Name.errors.required">Your phone number is required</div>
                     </div>
              </label>
              <label>
                    Phone Number
                    <input  name="PhoneNumber" #phoneNumber="ngModel" [(ngModel)]="PhoneBookSelected.PhoneNumber" ng-required="true" placeholder="Phone Number" required> 
                     <div *ngIf="submitted && contactForm.controls.PhoneNumber.errors" class="error">
                       <div *ngIf="contactForm.controls.PhoneNumber.errors.required">Your phone number is required</div>
                     </div>
              </label>
            <input type="submit" value="Submit" class="cta">
    </form>